* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Super-Mario-World";
    src: url("Super-Mario-World.ttf");
}

body {
    background-color: black;
    font-family: 'Super-Mario-World', Verdana, sans-serif;
}

.dialog {
    position: absolute;
    background-color: black;
    padding: 20px;
    width: 200px;
    color: white;
    font-size: 0.7em;
}

.interaction {
    position: absolute;
    height: 30px;
}

.inventory-icon {
    position: absolute;
    height: 40px;
    top: 600px;
    left: 1050px;
}

.background {
    position: absolute;
    height: 650px;
}

.inventory {
    position: absolute;
    background-color: black;
    left: 100px;
    top: 100px;
    height: 500px;
    width: 900px;
}

.container {
    padding: 30px;
    display: flex;
    align-items: center;
}

.inventory-item {
    padding: 30px;
}

.inventory-stick {
    width: 90px;
}

.inventory-fruit {
    height: 102px;
}

.inventory-pow {
    height: 102px;
}

.inventory-ball {
    height: 100px;
}

.player {
    position: absolute;
    height: 45px;
    left: 80px;
    top: 531px;
}

.red-koopa {
    position: absolute;
    height: 53px;
    left: 180px;
    top: 526px;
}

.talk-red-koopa {
    top: 490px;
    left: 140px;
}

.grab-red-koopa {
    top: 490px;
    left: 210px;
}

.dialog-red-koopa {
    top: 380px;
    left: 110px;
}

.pipe {
    position: absolute;
    height: 100px;
    top: 473px;
    left: 240px;
}

.yoshi {
    position: absolute;
    height: 60px;
    top: 519px;
    left: 344px;
}

.talk-yoshi {
    top: 490px;
    left: 315px;
}

.grab-yoshi {
    top: 490px;
    left: 390px;
}

.dialog-yoshi {
    top: 380px;
    left: 282px;
}

.fruit {
    position: absolute;
    height: 30px;
    top: 469px;
    left: 538px;
}

.talk-fruit {
    top: 430px;
    left: 500px;
}

.grab-fruit {
    top: 430px;
    left: 579px;
}

.dialog-fruit {
    top: 385px;
    left: 463px;
}

.jocker {
    position: absolute;
    height: 40px;
    top: 533px;
    left: 784px;
}

.talk-jocker {
    top: 493px;
    left: 750px;
}

.grab-jocker {
    top: 493px;
    left: 825px;
}

.dialog-jocker {
    top: 407px;
    left: 702px;
}

.half-ball {
    position: absolute;
    height: 10px;
    top: 563px;
    left: 310px;
}

.talk-half-ball {
    top: 523px;
    left: 267px;
}

.grab-half-ball {
    top: 523px;
    left: 324px;
}

.dialog-half-ball {
    top: 448px;
    left: 214px;
}

.castle {
    position: absolute;
    left: 960px;
    top: 393px;
    height: 200px;
}

.castle-open {
    position: absolute;
    background-color: black;
    left: 996px;
    top: 524px;
    height: 54px;
    width: 56px;
}

.invisible {
    visibility: hidden;
}

.blocked {
    pointer-events: none;
}