* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Super-Mario-World";
    src: url("Super-Mario-World.ttf");
}

html, body {
    height: 100%;
}

body {
    /* background-color: black; */
    background-image: url(../images/background-general.png);
    font-family: 'Super-Mario-World', Verdana, sans-serif;
}

.title-screen {
    height: 100%;
    text-align: center;
    background-image: url(../images/tittle-screen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ending-screen {
    height: 100%;
    font-size: 1.4em;
    color: white;
    text-align: center;
    background-color: black;
    padding: 100px;
}

.ending-toad {
    height: 98px;
}

.ending-mario {
    height: 75px;
}

.ending-peach {
    height: 100px;
}

.ending-screen>div {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 100px;
    height: 200px;
}

h1 {
    font-size: 3em;
}

.start-button {
    margin-top: 100px;
    font-family: 'Super-Mario-World', Verdana, sans-serif;
    font-size: 1em;
    color: blanchedalmond;
    background-color: rgb(206, 25, 25);
    border: 3px solid black;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
}

.dialog {
    position: absolute;
    background-color: black;
    padding: 20px;
    width: 200px;
    color: white;
    font-size: 0.7em;
}

.interaction {
    position: absolute;
    height: 30px;
}

.inventory-icon {
    position: absolute;
    height: 40px;
    top: 600px;
    left: 1050px;
}

.background {
    position: absolute;
    height: 650px;
}

.inventory {
    position: absolute;
    background-color: black;
    left: 100px;
    top: 100px;
    height: 500px;
    width: 900px;
}

.container {
    padding: 30px;
    display: flex;
    align-items: center;
}

.inventory-item {
    padding: 30px;
}

.inventory-stick {
    width: 90px;
}

.inventory-fruit {
    height: 102px;
}

.inventory-pow {
    height: 102px;
}

.inventory-ball {
    height: 100px;
}

.inventory-key {
    height: 100px;
}

.player {
    position: absolute;
    height: 45px;
    left: 80px;
    top: 530px;
}

.red-koopa {
    position: absolute;
    height: 53px;
    left: 180px;
    top: 526px;
}

.talk-red-koopa {
    top: 490px;
    left: 140px;
}

.grab-red-koopa {
    top: 490px;
    left: 210px;
}

.dialog-red-koopa {
    top: 380px;
    left: 110px;
}

.pipe {
    position: absolute;
    height: 100px;
    top: 473px;
    left: 240px;
}

.yoshi {
    position: absolute;
    height: 60px;
    top: 519px;
    left: 344px;
}

.talk-yoshi {
    top: 490px;
    left: 315px;
}

.grab-yoshi {
    top: 490px;
    left: 390px;
}

.dialog-yoshi {
    top: 380px;
    left: 282px;
}

.fruit {
    position: absolute;
    height: 30px;
    top: 469px;
    left: 538px;
}

.talk-fruit {
    top: 430px;
    left: 500px;
}

.grab-fruit {
    top: 430px;
    left: 579px;
}

.dialog-fruit {
    top: 385px;
    left: 463px;
}

.jocker {
    position: absolute;
    height: 40px;
    top: 533px;
    left: 784px;
}

.talk-jocker {
    top: 493px;
    left: 750px;
}

.grab-jocker {
    top: 493px;
    left: 825px;
}

.dialog-jocker {
    top: 407px;
    left: 702px;
}

.half-ball {
    position: absolute;
    height: 10px;
    top: 563px;
    left: 310px;
}

.talk-half-ball {
    top: 523px;
    left: 267px;
}

.grab-half-ball {
    top: 523px;
    left: 324px;
}

.dialog-half-ball {
    top: 448px;
    left: 214px;
}

.castle {
    position: absolute;
    left: 960px;
    top: 389px;
    height: 200px;
}

.castle-open {
    position: absolute;
    background-color: black;
    left: 996px;
    top: 520px;
    height: 54px;
    width: 56px;
}

.talk-castle {
    top: 484px;
    left: 959px;
}

.grab-castle {
    top: 484px;
    left: 1048px;
}

.dialog-castle {
    top: 412px;
    left: 910px;
}

.talk-key-hole {
    top: 291px;
    left: 919px;
}

.grab-key-hole {
    top: 291px;
    left: 979px;
}

.dialog-key-hole {
    top: 241px;
    left: 867px;
}

.block {
    position: absolute;
    height: 30px;
}

.block1 {
    top: 345px;
    left: 951px;
}

.block2 {
    top: 345px;
    left: 923px;
}

.block3 {
    top: 345px;
    left: 895px;
}

.block4 {
    top: 370px;
    left: 870px;
}

.block5 {
    top: 395px;
    left: 845px;
}

.block6 {
    top: 420px;
    left: 820px;
}

.block7 {
    top: 445px;
    left: 795px;
}

.block8 {
    top: 470px;
    left: 770px;
}

.block9 {
    top: 495px;
    left: 745px;
}

.block10 {
    top: 520px;
    left: 720px;
}

.block11 {
    top: 545px;
    left: 695px;
}

.key-hole {
    position: absolute;
    left: 957px;
    top: 320px;
    height: 30px;
}

.invisible {
    display: none;
}

.blocked {
    pointer-events: none;
}